.listContainer {

	width: 40%;

	margin-left: 30%;

}

.loadingSpinner {

	display: none;

	font-size: 30px;

	text-align: center;
}

.errorMessage {

	color: red;
	display: none;
}

.hideButton {

	display: none;
}